body{
	
}
.menu{
	background-color:cornflowerblue;
	width: 100%;
	overflow: hidden;
	
}
.menuitem{
	float:left;
	color:white;
	text-decoration:none;
	text-align: center;
	padding: 0.65em 1em;
	font-size: 1.15em
}
.account{
	text-decoration:none;
	float: right;
	background-color:mediumaquamarine;
	padding: 0px 10px;
	border-radius:10px
	
}
.make{
	float:left;
	color:red;
}
.logo{
	width:200px;
}
